.link-create {
    color: #fff;
    padding: 6px;
    background-color: #0c64a9;
    font-weight: 500;
    transition: background 0.5s;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .link-create:hover {
    background-color: #3d91d1; 
    transition: background 0.5s;
  }

