.card-main {
 width: 300px;
 height: 300px;
 border: 1px solid #fff;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
overflow-y: auto;
}

.card-main-dates {
color: #ddd;
}

.card-main-title {
    color: #fff;
    cursor: pointer;
}

.card-main-description {
    color: rgb(157, 157, 157);
}

