.card-main {
  width: 200px;
  height: auto; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px; 
}

.card-main-title {
  color: #fff; 
  cursor: pointer;
  transition: .5s;

}
.card-main-title:hover {
  text-decoration: underline;
  color: #ddd;
  transition: .5s;
}

.card-main-dates {
  color: #ddd;
  font-size: 16px;
}

.card-main-description {
  color: #eee;
  font-size: 16px;
}
