.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 14px;
}

.footer-container-first {
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-container-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.footer-icon-github {
    cursor: pointer;
}


