.section-page-todoList {
  width: 100%;
  height: 100vh;
  padding: 60px 10px 10px 10px;
  overflow-x: auto;
  display: flex;
   flex-direction: column;
   gap: 10px;
}
.section-cards-todoList {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}

.form-todo-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-todo-list {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #202020;
  color: #ffff;
  outline: none;
  font-size: 16px;
    transition: border 0.5s;

}

.input-todo-list:focus {
    border-color: #0c64a9;
    transition: border 0.5s;
}
.btn-todo-list {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0c64a9;
    background-color: #0c64a9;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px
}

.card-todoList {
  width: 100%;
  background-color: #181818;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #222222;
}

.title-card-todoList {
  color: #ddd;  
}

.container-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.complete-task {
  background-color: #46b92f93;
  border-color: #4cc74c;
}
.complete-task .title-card-todoList {
  color: #fff;
  text-decoration: line-through;
}

.btn-card-todoList {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
  background-color: #dc3545;
}

.completed {
  background-color: #28a745;
}

.title-sin-tasks {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}